extends layout

block content
	section
		h1
			a.link-unstyled(href='/dashboard') whip
				span.text-muted db

	section
		h2 Dashboard
		ul.list-unstyled.text-smaller
			for collection in collectionCounts
				li: a(href='/' + user.username + '/browse/' + collection.name) #{collection.name} (#{collection.count})
