body {
  padding: 50px;
  font: 24px Lato, Helvetica, 'Segoe UI', Arial, sans-serif;
  font-weight: 300;
}

a { color: mediumseagreen; }
a:visited { color: seagreen; }

h1 { font-size: 72px; }
h2 { font-size: 55px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }
.text-smaller { font-size: 18px; }

section {
	margin-bottom: 50px;
}

p { margin: 0 0 20px; }

em {
	font-style: normal;
	color: mediumseagreen;
}

.left { text-align: left; }
.right { text-align: right; }

.form-control.right {
	position: relative;
	right: -0.8em; /* offset right padding inside text box */
}

.form-control {
	font-size: 18px;
	padding: 21.6px 14.4px;
}

.form-control-md {
	font-size: 24px;
}

.input-stealth {
	border: 0;
	box-shadow: none;
}

.text-extra-muted {
	color: #d6d6d6;
}
.text-extra-muted::-webkit-input-placeholder { color:    #d6d6d6; }
.text-extra-muted:-moz-placeholder { color:    #d6d6d6; }
.text-extra-muted::-moz-placeholder { color:    #d6d6d6; }
.text-extra-muted:-ms-input-placeholder { color:    #d6d6d6; }

.link-unstyled:hover {
	text-decoration: none;
}

.mega-narrow {
	max-width: 600px;
	margin: 0 auto;
}

/* BOOTSTAP OVERRIDES */
.btn-primary {
	background-color: mediumseagreen;
	border: none;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: seagreen;
}
.btn-primary.disabled {
	background-color: #d6d6d6;
	color: inherit;
}

.blur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

.header-cell {
	text-align: right;
	vertical-align: top;
	padding-right: 0.3em;
	width: 1px;
}

